#letter {
    background: url("../assets/background/old-parchment-background.jpg") repeat;
    height: 100%;
    overflow: auto;
}

#letter-body {
    padding: 30px;
    font-family: "Edu TAS Beginner", cursive;
    font-size: larger;
}

@keyframes boldAnimation {
    0% {
        text-shadow: none;
    }
    50% {
        text-shadow: 0.5px 0.4px; /* Adjust the desired text shadow */
    }
    100% {
        text-shadow: none;
    }
}

a.text-image-trigger {
    text-decoration: underline;
    position: relative;
    animation: boldAnimation linear 3s infinite;
}

a.important-note::after {
    content: url("../assets/icons/curly-arrow-28.png");
    width: 200px;
    position: absolute;
    left: 1.5em;
    top: 1.3em;
}

a.text-image-trigger:hover {
    cursor: pointer;
}

#image-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

@media only screen and (max-width: 600px) {
    #image-container {
        width: 100%; /* Full width on small screens */
    }
}

/* Media query for screens 768 pixels and larger */
@media (min-width: 600px) {
    #image-container {
        width: 500px;
        margin: 0 auto;
    }
}

#image-container .closeButton {
    color: white;
    font-size: 1.5em;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    z-index: 9999;
}

#image-container #image {
    width: 100%;
}
