#letter {
    background: url("../assets/images/old-parchment-background.jpg") repeat;
    height: 100%;
    overflow: auto;
}

#letter-body {
    padding: 30px;
    font-family: "Edu TAS Beginner", cursive;
    font-size: larger;
}

@keyframes boldAnimation {
    from {
        font-weight: 400;
    }
    to {
        font-weight: 900;
    }
}

a.text-image-trigger {
    text-decoration: underline;
    font-weight: 600;
    position: relative;
    animation: boldAnimation linear 3s infinite;
}

a.text-image-trigger::after {
    content: url("../assets/icons/curly-arrow-28.png");
    width: 200px;
    position: absolute;
    left: 1.5em;
    top: 1.3em;
}
