#root {
    background: rgb(104, 194, 224);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#main-container {
    text-align: center;
    width: 360px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px 10px;
    background: lightcoral;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    text-align: start;
}

.form-control h3 {
    margin-bottom: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form-control .name-input {
    padding: 9px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    outline: none; /* Remove default outline style on focus */
    transition: border-color 0.3s;
}

.form-control .name-input:focus {
    border-color: #007bff; /* Change border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle box shadow on focus */
}
