button#startBtn {
    --color: rgb(60, 145, 179);
    appearance: none;
    border: none;
    background: none;
    font: inherit;
    padding: 0;
    margin: 0;

    padding: 0.4em 0.6em;
    font-size: 2em;
    background: var(--color);
    outline-color: var(--color);
    color: #fff;
    cursor: pointer;
    border-radius: 0.15em;
    transition: all 0.3s;
    outline: var(--color) solid 1px;
    animation: outline-pulse 1s infinite;
}

button#startBtn span {
    font-family: "Operator Mono", monospace;
}

@keyframes outline-pulse {
    from,
    to {
        outline-offset: 0.3em;
        outline-width: 0.12em;
    }
    50% {
        outline-offset: 0.16em;
        outline-width: 0.16em;
    }
}
